# ===== Servidor =====
PORT=4000
CLIENT_URL=http://localhost:5173
CLIENT_URLS=http://localhost:5173,https://seu-frontend.vercel.app
ALLOW_VERCEL_PREVIEWS=true
DNS_SERVERS=8.8.8.8,1.1.1.1

# ===== MongoDB =====
# Na Vercel: Network Access 0.0.0.0/0 no Atlas
MONGODB_URI=mongodb://127.0.0.1:27017/esentinel2

# ===== Cloudinary =====
CLOUDINARY_CLOUD_NAME=seu_cloud_name
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=seu_api_secret
CLOUDINARY_FOLDER=esentinel2
